# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs / Editors
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.settings/
.bin/

# VS Code
.vscode/
.history/
*.code-workspace

# Java
*.class
*.jar
*.war
*.ear

# Misc
*.swp
*.swo
